/* Body basics */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* (main background) */
    --Very-dark-blue: hsl(233, 47%, 7%);
    /* (card background) */
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    /* (accent) */
    --Soft-violet: hsl(277, 64%, 61%);
    /* (main heading, stats) */
    --White: hsl(0, 0%, 100%);
    /* (main paragraph) */
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    /* (stat headings) */
    --Medium-transparent-white: hsla(0, 0%, 100%, 0.6);
}

body {
    background: var(--Very-dark-blue);
    color: var(--Slightly-transparent-white);
    margin: 0;
    font-size: .94rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: normal;
    text-align: center;
    line-height: 1.6;
}

img {
    max-width: 100%;
}

/* Typography */
h1 {
    color: var(--White);
    font-family: Inter;
    font-weight: 700;

}

/* Layout */


/* Card */




/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}